/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 15px;
    width: 300px;
    height: 100vh; /* Full height */
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
}

    .sidebar h2 {
        color: #2E3B4E;
    }

    .sidebar ul {
        list-style-type: disc; /* Use default bullet points */
        margin-left: 20px; /* Ensure proper indentation */
        padding-left: 0;
    }

        .sidebar ul ul {
            list-style-type: circle; /* Optional: different bullet style for nested lists */
            padding-left: 20px; /* Indent nested lists */
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: #2E3B4E;
            }

                .sidebar ul li a:hover {
                    text-decoration: underline;
                }

.content {
    padding: 20px;
    margin-left: 320px; /* Adjust for sidebar width */
    flex: 1;
    overflow-y: auto;
    height: 100vh; /* Full height */
}

h1, h2, h3, h4 {
    color: #2E3B4E;
}

h1 {
    border-bottom: 2px solid #2E3B4E;
    padding-bottom: 5px;
}

h2 {
    border-bottom: 1px solid #2E3B4E;
    padding-bottom: 3px;
    margin-top: 20px;
}

h3 {
    margin-top: 15px;
    font-size: 1.2em;
}

h4 {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* List styles */
ul {
    list-style-type: none;
    padding-left: 20px;
}

    ul ul {
        padding-left: 20px;
        list-style-type: disc;
    }

li {
    margin-bottom: 5px;
}

/* Link styles */
a {
    text-decoration: none;
    color: #2E3B4E;
}

    a:hover {
        text-decoration: underline;
    }

/* Code block styles */
pre, code {
    background-color: #f8f8f8;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 1px;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
}

/* Paragraph styles */
p {
    margin: 10px 0;
}

    p strong {
        color: #000;
    }

/* HR styles */
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
}
